@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
/* variables  */
:root{
    --main-color: #ff2c1f;
    --text-color: #020307;
    --bg-color: #fff;
}

body{
    background: var(--text-color);
    color: var(--bg-color);
}

/* movies  */

.movies{
    margin-top: 20px;
}
.heading{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--main-color);
}
.movies-container{
    max-width: 968px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.box .box-img{
    width: 100%;
    height: 270px;
    cursor: pointer;
}
.box .box-img img{
    height: 100%;
    object-fit: cover;
}
.box .box-img img:hover{
    transform: translateY(-10px);
    transition: 0.2s all linear;
}
.box h3{
    font-size: 1.7rem;
    font-weight: 500;
}
.box span{
    font-size: 14px;
}


/* responsive  */
@media (max-width: 1080px){
    .home-text{
        padding: 0 100px;
    }
}

@media (max-width: 774px){
    .movies-container{
        grid-template-columns: repeat(auto-fit, minmax(160px,auto));
    }
}
@media (max-width: 472px){
    .movies-container{
        grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    }
}